<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('帖子列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>分区ID：</label>
                                <select name="postId">
                                    <option value="">所有</option>
                                    <option value="26402">无聊图</option>
                                    <option value="21183">随手拍</option>
                                    <option value="102312">树洞</option>
                                    <option value="108629">女装</option>
                                </select>
                            </li>
                            <li>
                                <label>作者：</label>
                                <input type="text" name="author"/>
                            </li>
                            <li>
                                <label>内容：</label>
                                <input type="text" name="content"/>
                            </li>
                            <li>
                                <label>时间：</label>
                                <input type="text" class="time-input" placeholder="请选择时间" name="date"/>
                            </li>
                            <li>
                                <label>时间戳(秒)：</label>
                                <input type="text" name="dateUnix"/>
                            </li>
                            <li>
                                <label>分区名：</label>
                                <input type="text" name="postTitle"/>
                            </li>
                            <li>
                                <label>用户ID：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>赞：</label>
                                <input type="text" name="votePositive"/>
                            </li>
                            <li>
                                <label>踩：</label>
                                <input type="text" name="voteNegative"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="jandan:comment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="jandan:comment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="jandan:comment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="jandan:comment:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('jandan:comment:edit')}]];
        var viewFlag = [[${@permission.hasPermi('jandan:comment:view')}]];
        var removeFlag = [[${@permission.hasPermi('jandan:comment:remove')}]];
        var prefix = ctx + "jandan/comment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                viewUrl: prefix + "/view/{id}",
                modalName: "帖子",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'postId',
                    title: '分区ID',
                    visible: false
                },
                {
                    field: 'author',
                    title: '作者'
                },
                {
                    field: 'authorType',
                    title: '作者类型',
                    visible: false
                },
                {
                    field: 'date',
                    title: '时间'
                },
                {
                    field: 'dateUnix',
                    title: '时间戳(秒)',
                    visible: false
                },
                {
                    field: 'postTitle',
                    title: '分区名'
                },
                {
                    field: 'content',
                    title: '内容'
                },
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'votePositive',
                    title: '赞'
                },
                {
                    field: 'voteNegative',
                    title: '踩'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.view(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>